<!doctype html>
<html lang="en" ng-app="UserService" ng-strict-di ng-cloak>
<head>
  <meta charset="utf-8">
  <title>Welcome | Angular-1.5-cli</title>
  <base href="/">
</head>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<% for (key in htmlWebpackPlugin.files.chunks) { %>
<% if (key === 'vendor') { %>
<script src="<%= htmlWebpackPlugin.files.chunks[key].entry %>" type="text/javascript"></script>
<% } %>
<% } %>
<body>

<UserService></UserService>

</body>
</html>